.login-box {
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    font-family: sans-serif;
    color: #fff;
    background: linear-gradient(#bd09b7, #6b4cf5);
    box-shadow: 15px +10px rgb(206, 185, 248);
    margin: 0 auto;
}

.login-box label {
    
    width: 93%;
    padding: 7px;
    font-weight: bold;
    display: block;
}

.login-box input {

    padding: 7px;
    font-weight: bold;

}

.login-box select {

    width: 99%;
    padding: 7px;
    font-weight: bold;
    display: block;
    margin-bottom: 12px;
}

.btn {
    padding: 5px 15px 5px 15px;
    margin-left: 76%;
}

.email{

    width: 93%;
}

.password {
    width: 93%;
}

@media (min-width: 500px){

    .login-box{
        width: 300px;
    }
    
}

@media (max-width: 499px){

    .login-box{
        width: 88%;
    }
}

.login-box select {
    width: 98%;
}